@keyframes fade-in{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

* {
    margin: 0;
    padding: 0;
    background-color: rgb(26, 26, 26);
}

.intro {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 36px;
}

.line1, .line2 {
    animation: fade-in 5s;
}

.name {
    color: rgb(97, 240, 233);
}