@keyframes fade-in{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

* {
    margin: 0;
    padding: 0;
    background-color: rgb(26, 26, 26);
}

html {
    height: 100%;
}

.hero {
    display: flex;
}

.intro {
    position: relative;
    align-self: center;
    justify-self: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;   
    margin-left: auto;
    margin-right: auto;
    color: #fafafa;
    font-weight: 300;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    background-color: transparent;
}

#canvas {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
    overflow: hidden;
    opacity: 60%;
}

.line1, .line2 {
    background-color: rgba(26,26,26,0);
}

.line1, .line2 {
    animation: fade-in 3s;
}

.name {
    color: rgb(97, 240, 233);
    background-color: rgba(26,26,26,0);
}